#flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#diceImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

#theButton{
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  border: 20px solid white;
  color:white;
  font-size: 30px;
  background-color: black;
  border-radius: 10px;
}

.dice{
  display: flex;
  justify-content: center;
  align-items: center;  
  border: 4px solid gray;
  border-radius: 20px ;
  width: 150px;
  height: 150px;
  margin: 20px;
  background-color: black;
  font-size: 40px;
  color: white;
}